<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RGB4U_App"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.mypage.MyPageServiceCheck"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageNotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.summary.SummaryThinkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.summary.SummarySituationActivity"
            android:exported="false"
            android:theme="@style/Theme.RGB4U_App" />
        <activity
            android:name=".ui.activity.summary.SummaryMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.EmotionStrengthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.EmotionSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.ThinkWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.SignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.SignUpActivity1"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.diary.DiaryWriteActivity"
            android:exported="false" />
    </application>

</manifest>