<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_moa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_moa_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RGB4U_App"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.onboarding.OnboardingStartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PasswordEntryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.calendar.ChangeThinkThisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.calendar.CalenderChangedDayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.calendar.CalenderThinkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.calendar.CalenderSituationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.distortiontype.DistortionMoreThoughtsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.calendar.CalenderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.summary.SummaryChangedDayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.calendar.CalendarHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.analysis.FrequentEmotionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.analysis.AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.distortiontype.EmotionReselectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.distortiontype.EmotionReselectActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.activity.distortiontype.DistortionTypeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.CognitiveDistortionActivity"
            android:exported="false" /> <!-- Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.DEFAULT_WEB_CLIENT_ID"
            android:value="@string/default_web_client_id" />

        <activity
            android:name=".ui.activity.mypage.MyPageDeleteaccoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPagePasswordSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPagePasswordEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageHowToUseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageServiceCheck"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageNotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mypage.MyPageMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.summary.SummaryThinkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.summary.SummarySituationActivity"
            android:exported="false"
            android:theme="@style/Theme.RGB4U_App" />
        <activity
            android:name=".ui.activity.summary.SummaryMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.EmotionStrengthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.EmotionSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.diary.ThinkWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.SignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.SignUpActivity1"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.home.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.diary.DiaryWriteActivity"
            android:exported="false" /> <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirect_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>